/* component
==================================*/
/* sec-tit
--------------------------*/
.c-sec-tit {
  color: #333;
  font-size: 3rem;
  position: relative;
  padding-bottom: 10px;
  text-align: center;

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 5rem;
    height: 4px;
    background: $cr-main;
  }
}

/* btn
--------------------------*/
.c-btn {
  display: inline-block;
  padding: 1rem 2rem;
  transition: all 0.3s ease 0s;

  @include mq('pc') {
    &:hover {
      opacity: $opacity;
    }
  }

  
  .c-btn--sub {
    background: $cr-accent;
    color: #fff;
  }
  
  .c-btn--main {
    color: $cr-main;
    border: 1px solid $cr-main;
    border-radius: 25px;
  }
}

/* to-top
--------------------------*/
.c-to-top {
  display: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: $cr-accent;
  position: fixed;
  bottom: 30px;
  font-size: $fz-l;
  opacity: 0.6;
  color: #fff;
  right: calc(50% - #{600px - $pd-pc});

  &:hover {
    opacity: 1;
  }

  @include mq("tab-only") {
    right: $pd-tab;
  }

  @include mq("sp") {
    width: 40px;
    height: 40px;
    line-height: 40px;
    right: $pd-sp;
    bottom: 20px;
    font-size: $fz-m;
  }

  &.is-show {
    display: block;
  }
}
