/*===============================
共通レイアウト
===============================*/

/*----------- inner ---------------*/
.l-inner {
  max-width: $layout-inner + $pd-pc * 2;
  height: inherit;
  margin: 0 auto;
  padding: 0 $pd-pc;

  @include mq("tab-only") {
    padding-right: $pd-tab;
    padding-left: $pd-tab;
  }

  @include mq("sp") {
    padding-right: $pd-sp;
    padding-left: $pd-sp;
  }
}

/*------------ フォント ----------------*/
.l-serif {
  font-family: "Noto Serif JP";
}

/*------------ margin ----------------*/
.mt40 {
  margin-top: 40px;
}

.mt30 {
  margin-top: 30px;
}

.mt20 {
  margin-top: 20px;
}

/*------------ padding ----------------*/
.pt40 {
  padding-top: 40px;
}

.pt30 {
  padding-top: 30px;
}

.pt20 {
  padding-top: 20px;
}

// pcのみ表示
.is-tab-pc {
  @include mq("sp") {
    display: none;
  }
}

// spのみ表示
.is-sp {
  @include mq("pc") {
    display: none;
  }
}
