/* utility
==================================*/
/* フォント
--------------------------*/
.serif {
  font-family: "Noto Serif JP";
}

/* margin
--------------------------*/
.mt40 {
  margin-top: 40px;
}

.mt30 {
  margin-top: 30px;
}

.mt20 {
  margin-top: 20px;
}

/* padding
--------------------------*/
.pt40 {
  padding-top: 40px;
}

.pt30 {
  padding-top: 30px;
}

.pt20 {
  padding-top: 20px;
}

//------------- PCのみ表示 -------------------
.is-pc {
  @include mq("sp") {
    display: none;
  }
}

//------------- SPのみ表示 -------------------
.is-sp {
  @include mq("pc") {
    display: none;
  }
}
